body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col-md-9 {
    width: 100%;
    /* Đảm bảo phần danh sách chiếm toàn bộ chiều rộng */
}

.listreal {
    margin-top: 10px;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.listreal h1 {
    text-align: center;
    /*  */
    /* Căn giữa tiêu đề */
    /* margin-bottom: 20px; */
    /* Khoảng cách phía dưới tiêu đề */
    
}

.listreal h2 {
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
    margin-bottom: 20px;
    font-size: 18px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    /* Khung ngoài cùng của bảng */
}

.table td {
    border: 1px solid #ddd;
    /* Khung cho các ô dữ liệu */
    padding: 8px;
    /* text-align: justify; */
}

.table th {
    border: 1px solid #ddd;
    /* Khung cho các ô tiêu đề */
    background-color: #f2f2f2;
    /* Màu nền cho tiêu đề */
    font-weight: bold;
    font-size: 16px;
    /* text-align: justify; */
}

.table .titlecontent {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
}

.table tr {
    font-size: 16px;
   
    /* text-align: justify; */
}